* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "open sans";
}

a{
  color: #69696a;
  text-decoration: none;
}

body {
  height: 200vh;
  width: 100%;
  background-color: #f9fafc;  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 10rem;
  padding: 1rem;
}

ul {
  padding: .5rem;
}

.navLinks {
  margin-right: 1.6rem;
  color: #69696a;
  font-size: 1.2rem;
  float: left;
  list-style: none;
  letter-spacing: .075rem;
}

.navLinks:not(:last-child) {
  margin-top: .75rem;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: .75rem 3rem;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
}

.btn a {
  color: #f9fafc;
}

nav #brand {
  align-self: flex-start;
  font-size: 1.2rem;
  margin: .5rem;
  color: black;
  
}

main {
  margin: 10rem 3rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: space-between;

}
h1 {
  font-size: 3rem;
  font-weight: 400;
}

.welcome {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.welcome p {
  display: inline-block;
  height: 37%;
  width: 50%;
  margin-top: 3rem;
  padding-left: 1rem;
  border-left: .2rem solid #69696a;
  color: #69696a;
  text-align: left;
  font-size: 1.2rem;
}

.circles {
  width: 35rem;
  height: 35rem;
  position: relative;
  margin-right: 1rem;
}

.circ {
  border-radius: 50%;
}

#circ1{
  position: absolute;
  top: 0rem;
  left: 0;
  height: 80%;
  width: 80%;
  z-index: 1;
  background-color: rgba(247, 136, 167, 0.6);
}

#circ2{
  position: absolute;
  bottom: 5rem;
  right: 0rem;
  height: 45%;
  width: 45%;
  z-index: 3;
  background-color: rgba(247, 193, 162, 0.7);
}

#circ3 {
  position: absolute;
  top: 4rem;
  right: 0rem;
  height: 35%;
  width: 35%;
  z-index: 2;
  background-color: rgba(207, 130, 213, 0.6);
}

#scrollDown {
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%)
}
